
body {
  background-color: black;
  color: rgba(228, 222, 215, 1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Serif", serif;
  font-weight: 400;
  font-style: normal;
}
p {
  font-family: "Public Sans", sans-serif;
}
.logo img {
  width: 80%;
}
.navbar {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  background-color: rgba(249, 220, 149, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 70vw;
  border-radius: 20px;
}
nav .nav-links a {
  text-decoration: none;
  cursor: pointer;
  text-transform: capitalize;
  margin: 10px;
  font-family: "Public Sans", sans-serif;
  color: rgba(228, 222, 215, 1);
  font-size: 17px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  color: rgba(228, 222, 215, 1);
  text-align: center;
  margin: 100px 0 10px 0;
}
.header h1 {
  font-size: 120px;
  font-weight: 800;
  margin-bottom: 20px;
}
.image {
  margin: 20px;
}
.image img {
  width: 100%;
  height: auto;
}
.home .image img {
  border-radius: 28px;
}

.endhead {
  padding: 156px 10px;
  display: flex;
  justify-content: start;
  align-items: start;
  text-wrap: wrap;
  margin: 20px;
}

.ending div div {
  /* text-align: justify; */
  width: 70vw; /*Remove While making it Resposive*/
  font-size: 30px;
}
.ending h2 {
  font-family: "Roboto Serif", serif;
  font-weight: 700;
  font-size: 68px;
}

.ending img {
  padding: 30px;
  width: 100vw;
  height: auto;
  border-radius: 46px;
}

.frames {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
  margin-top: 50px;
}
.frames img {
  width: 400px;
  height: auto;
  padding: 10px;
  border-radius: 26px;
}

.frames p {
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 2px;
  font-size: 17px;
}

.frames p:nth-child(3) {
  padding-top: 0px;
  padding-bottom: 10px;
  font-size: 15px;
}

.endfoot {
  padding: 156px 10px;
  display: flex;
  justify-content: end;
  align-items: end;
  text-wrap: wrap;
  margin: 20px;
}
.endfoot div {
  width: 50vw;
}
.endfoot p {
  font-size: 24px;
}

.clients {
  /* margin: 150px 0; */
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.clients h1 {
  font-size: 48px;
  text-align: center;
  font-weight: 800;
  margin: 20px 0;
}
/* Client Say Sections */
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 50px;
}
.card {
  margin: 20px;
  margin-top: 50px;
  width: 326px;
  background-color: rgba(224, 213, 184, 0.12);
  border: 1px solid rgba(255, 255, 255, 0);
  display: grid;
  grid-template-columns: 35% 65%;
  padding: 20px;
  border-radius: 10px;
  place-items: center;
}
.card img {
  width: 50px;
  border-radius: 50%;
}
.card-detail {
  margin-top: 10px;
}
.border {
  margin-top: 10px;
  height: 90%;
  border: 1px solid rgba(182, 163, 145, 0.2);
}
.card-head p {
  font-weight: 500;
  color: rgba(228, 222, 215, 1);
}

.card-head p + p {
  font-weight: 400;
  color: rgba(235, 221, 209, 0.62);
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  margin-top: 10em;
  align-items: center;
}

footer button {
  font-family: "Roboto Mono", monospace !important;
  padding: 12px 20px;
  background-color: transparent;
  color: rgba(228, 222, 215, 1);
  border: 1px solid rgba(182, 163, 145, 0.2);
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 1239px) {
  .header h1 {
    font-size: 100px;
  }
  .image9 {
    display: none;
  }
}
@media (max-width: 889px) {
  .header h1 {
    font-size: 80px;
  }
  .ending div div {
    width: auto;
    text-align: center;
  }
  .endhead {
    display: block;
  }
  .endfoot div {
    width: auto;
    text-align: center;
  }
  .endfoot{
    display: block;
  }
  .endfoot p{
    font-size: 20px;
  }
  .copyright{
    width: 50%;
  }
  .copyright img{
    width: 100%;
  }
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
  nav {
    justify-content: center;
  }
  .logo img {
    width: auto;
  }
}
@media (max-width: 440px) {
  .frames {
    width: 85%;
  }
  .images {
    width: 85%;
  }
  .frames img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 515px) {
  .projectabout {
    display: block;
  }
  .details div h3 {
    font-size: 30px;
  }
  .details div p {
    font-size: 15px;
  }
  .header h1 {
    font-size: 42px;
  }

  .ending div h2 {
    font-size: 20px;
  }
}
#mainheading{
    margin-right: 160px;
    font-family: serif;
    font-size: 42px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.smolpicfoots{
    color: rgba(235, 227, 209, 0.62);
}
.bigpicfoots{
    color: rgba(228, 225, 215, 1);
}
#beechkapara{
    text-align: center;
}
#beechkapara p{
    font-family: serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: -0.02em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
#neechekacopyright{
    font-family: serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}
.about {
    padding: 156px 10px;
    text-align: center;
    text-wrap: wrap;
  }
  .about div {
    display: flex;
    justify-content: center;
  }
  .about div h2 {
    width: 75%;
    text-align: center;
    font-size: 45px;
  }
  .whatioffer{
    display:flex;
    justify-content: space-between;
    padding: 48px ;
  }
  .wioandar{
    display: flex;
    flex-direction: row;
  }
  .wiolists{
    list-style-type: none;
    font-family: serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.005em;
    text-align: left;
    text-decoration-skip-ink: none;
    
  }
  .wiohead{
    font-family: serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

  }